@import "compass/support";
@import "buttons/*.png";

@include all-buttons-sprites(true);

/*************************** Share button *****************************/
/* outer wrapper */
#block-responsive-share-buttons-share {
  top: 155px;
  position: fixed;
  left: 0;
  z-index: 100;

  /* inner wrapper */
  .share-inner-wrp {
    list-style: none;
    margin: 0;
    padding: 0;

    /* the list */
    li {
      background: #E4EFF0;
      padding: 0 0 0 10px;
      display: block;
      width: 140px;
      margin: 0 0 1px -117px;

      /* share link */
      a {
        height: 32px;
        width: auto;
        display: block;
        line-height: 32px;
        font-weight: bold;
        color: #444;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        position: relative;

        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  /* background image for each link */
  .delicious:after {
    @extend .buttons-delicious;
  }

  .digg:after {
    @extend .buttons-digg;
  }

  .facebook:after {
    @extend .buttons-facebook;
  }

  .google:after {
    @extend .buttons-google;
  }

  .linkedin:after {
    @extend .buttons-linkedin;
  }

  .pinterest:after {
    @extend .buttons-pinterest;
  }

  .stumbleupon:after {
    @extend .buttons-stumbleupon;
  }

  .twitter:after {
    @extend .buttons-twitter;
  }

  .contextual-links {
    left: 0;
    right: auto;
  }
}

/* small screen */
@media all and (max-width: 699px) {
  #block-responsive-share-buttons-share {
    top: auto;
    bottom: 0;
    position: fixed;
    padding: 5px 5px 0 5px;
    background: #EBEBEB;
    width: 100%;
    margin: 0;
    -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);

    .share-inner-wrp {
      list-style: none;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      overflow: auto;

      li {
        display: inline-block;
        width: 32px !important;
        margin: 0;
        padding: 0;
        margin-left: 0 !important;

        a {
          height: 32px;
          display: inline-block;
          text-indent: -10000px;
          width: 32px;
          padding-right: 0;
          float: left;
        }
      }
    }
  }
}

/**********************************************************/